@font-face {
    font-family: 'Ruslan Display';
    src: url("../assets/fonts/ruslan_display.woff2") format('woff2'), url("../assets/fonts/ruslan_display.woff") format('woff'), url("../assets/fonts/ruslan_display.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
