html {
    font-size: 14px;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: sans-serif;
	padding-bottom: $space-xxxxxl;
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
}

.content {
    padding-top: 32px;
    box-sizing: border-box;

	&__header {
		font-family: 'Roboto Slab', serif;
		font-weight: normal;
		font-size: 36px;
		margin: 0;
		margin-bottom: 32px;
	}
}
