@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic");
@font-face {
  font-family: "Ruslan Display";
  src: url("../assets/fonts/ruslan_display.woff2") format("woff2"), url("../assets/fonts/ruslan_display.woff") format("woff"), url("../assets/fonts/ruslan_display.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 14px;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: sans-serif;
  padding-bottom: 64px;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

.content {
  padding-top: 32px;
  box-sizing: border-box;
}
.content__header {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 36px;
  margin: 0;
  margin-bottom: 32px;
}

.logo {
  text-align: center;
  width: 300px;
  background-color: #fff;
  margin: 0 auto;
  color: #000;
  text-decoration: none;
}
.logo:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #747474;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 46px;
}
.logo__image {
  width: 80px;
  height: auto;
  display: block;
  margin: 15px auto;
}
.logo__text {
  font-family: "Ruslan Display", serif;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}
.menu__item {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
}
.menu__item_selected {
  background-color: #f5f5f5;
}
.menu__item-content {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 100%;
  background-color: #f5f5f5;
  padding: 16px 32px;
}
.menu__item-content_visible {
  display: inline-block;
}
.menu__item:first-of-type {
  padding-left: 12px;
}
.menu__item:last-of-type {
  padding-right: 12px;
}
.menu__link {
  color: #000;
  text-decoration: none;
}
.menu__icon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  background-size: contain;
  margin-top: -7px;
}
.menu__icon_menu:before {
  height: 12px;
  width: 18px;
  background: url("../assets/images/menu.png") center no-repeat;
  margin-top: -4px;
}
.menu__icon_nesting-doll:before {
  height: 33px;
  width: 21px;
  background: url("../assets/images/nesting-doll.png") center no-repeat;
}
.menu__icon_easter-egg:before {
  height: 31px;
  width: 26px;
  background: url("../assets/images/easter-egg.png") center no-repeat;
}
.menu__icon_christmas-angel:before {
  height: 29px;
  width: 25px;
  background: url("../assets/images/christmas-angel.png") center no-repeat;
}

.submenu {
  display: flex;
}
.submenu__item {
  margin-right: 48px;
}
.submenu__item:last-child {
  margin-right: 0;
}
.submenu__item_best {
  max-width: 240px;
  padding-left: 24px;
  position: relative;
  border-left: 1px solid #000;
}
.submenu__item_best .best-offer {
  display: block;
  position: absolute;
  left: -7px;
  top: 50%;
  height: 100%;
}
.submenu__item_best .best-offer__text {
  position: absolute;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: left top;
  white-space: nowrap;
  padding: 0 8px;
  background-color: #f5f5f5;
  font-family: "Ruslan Display";
  font-size: 14px;
}
.submenu__link {
  margin: 12px 0;
}
.submenu__link > a {
  text-decoration: none;
  color: #000;
}

.button {
  background: none;
  border: 0;
  padding: 0;
}
.button:not([disabled]) {
  cursor: pointer;
}
.button:focus {
  outline: none;
  box-shadow: 0 0 10px #FCB040;
}
.button_default {
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ffbf1f;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 48px;
}
.button_xxl {
  font-size: 24px;
}
.button_narrow {
  padding: 8px 32px;
}
.button_link > i {
  margin-right: 8px;
}
.button_link_gold {
  color: #b98241;
}

.user-button {
  position: relative;
  background-color: #fff;
  z-index: 30;
}

.cart-button {
  position: relative;
}
.cart-button:before {
  content: attr(data-count);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc020;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  left: -4px;
}

.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
  background-size: contain;
  width: 18px;
  min-width: 1em;
  line-height: 18px;
  font-size: 14px;
}
.icon:empty:after {
  visibility: hidden;
  content: " ";
}
.icon_size_l {
  width: 52px;
  line-height: 52px;
}
.icon_user {
  background-image: url("../assets/images/user.svg");
}
.icon_cart {
  background-image: url("../assets/images/cart.svg");
}
.icon_bestseller {
  font-size: 40px;
  height: 50px;
  background-image: url("../assets/images/bestseller.svg");
}
.icon_baby_small {
  font-size: 36px;
  height: 28px;
  background-image: url("../assets/images/baby.png");
}
.icon_coins {
  font-size: 16px;
  height: 16px;
  background-image: url("../assets/images/coins.svg");
}
.icon_action_search {
  background-image: url("../assets/images/search.png");
}
.icon_free-shipping {
  background-image: url("../assets/images/shipping.svg");
  height: 50px;
  width: 84px;
}
.icon_russian {
  width: 50px;
  height: 50px;
  background-image: url("../assets/images/russian.svg");
}
.icon_pounch {
  height: 50px;
  background-image: url("../assets/images/pounch.svg");
}
.icon_hand {
  height: 50px;
  width: 50px;
  background-image: url("../assets/images/hand.svg");
}

.contact-info {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.contact-info__text {
  color: #b4b4b4;
  margin: 0;
  padding: 0 1rem 0 0;
  width: 185px;
}
.contact-info__link {
  color: #444444;
  text-decoration: none;
}

.lang-switch {
  display: flex;
  align-items: center;
}
.lang-switch__divider {
  height: 20px;
  width: 1px;
  background-color: #a3a3a3;
  margin: 0 12px;
}
.lang-switch__option {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: medium;
  color: #a3a3a3;
  cursor: pointer;
}
.lang-switch__option.is-active {
  color: #000;
}

.checkbox {
  position: relative;
  padding-left: 24px;
  text-align: left;
  -webkit-touch-action: manipulation;
}
.checkbox__text {
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  color: #747474;
}
.checkbox__text:after, .checkbox__text:before {
  content: "";
  position: absolute;
}
.checkbox__text:before {
  top: 3px;
  left: 0;
  width: 17px;
  height: 17px;
  background: #fff;
  box-shadow: inset 0 0 0 2px #ffbf1f;
}
.checkbox__text:after {
  left: 5px;
  top: 8px;
  width: 7px;
  height: 7px;
  opacity: 0;
  background: #ffbf1f;
  transform: translate3d(-10px, 0, 0) scale(0.5);
  transition: opacity 0.1s ease-in-out, transform 0.15s ease-in-out;
}
.checkbox input[type=checkbox] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
  -webkit-appearance: none;
}
.checkbox input[type=checkbox]:checked + .checkbox__text {
  color: #000;
}
.checkbox input[type=checkbox]:checked + .checkbox__text:after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.radio {
  position: relative;
  padding-left: 24px;
  text-align: left;
  -webkit-touch-action: manipulation;
}
.radio__text {
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  color: #747474;
}
.radio__text:after, .radio__text:before {
  content: "";
  position: absolute;
}
.radio__text:before {
  top: 3px;
  left: 0;
  width: 17px;
  height: 17px;
  background: #fff;
  box-shadow: inset 0 0 0 2px #ffbf1f;
}
.radio__text:after {
  left: 5px;
  top: 8px;
  width: 7px;
  height: 7px;
  opacity: 0;
  background: #ffbf1f;
  transform: translate3d(-10px, 0, 0) scale(0.5);
  transition: opacity 0.1s ease-in-out, transform 0.15s ease-in-out;
}
.radio input[type=radio] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
  -webkit-appearance: none;
}
.radio input[type=radio]:checked + .radio__text {
  color: #000;
}
.radio input[type=radio]:checked + .radio__text:after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.range {
  width: 100%;
  height: 16px;
  -webkit-appearance: none;
}
.range_with_inputs {
  display: flex;
  align-items: stretch;
}
.range__item {
  width: calc(50% - 10px);
}
.range__item:first-of-type {
  margin-right: 20px;
}

.user-popup {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 14px 18px;
  top: 25%;
  right: 0;
}
.user-popup_is-shown {
  display: block;
  z-index: 10;
}
.user-popup__content {
  display: block;
  border: 3px solid #747474;
  padding: 44px 28px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.user-popup__title {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 0 8px;
  background-color: #fff;
  font-family: "Ruslan Display";
  font-size: 18px;
}
.user-popup__controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.user-popup__link {
  display: inline-block;
  white-space: nowrap;
  font-size: 18px;
  font-family: "Roboto Slab";
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.user-popup__link:not(:first-of-type) {
  margin-left: 24px;
}
.user-popup__link:hover {
  color: #fcb040;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 9px;
  padding-right: 9px;
}
@media screen and (max-width: 1280px) {
  .wrapper {
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media screen and (max-width: 720px) {
  .wrapper {
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media screen and (max-width: 380px) {
  .wrapper {
    padding-left: 9px;
    padding-right: 9px;
  }
}

.text {
  font-family: "Roboto Slab";
}
.text_view_inverted {
  color: #fff;
}
.text_view_faded {
  color: #a3a3a3;
}
.text_view_gold {
  font-weight: bold;
  color: #ba8240;
}
.text_align_center {
  text-align: center;
}
.text_align_left {
  text-align: left;
}
.text_align_right {
  text-align: right;
}
.text_size_xs {
  font-size: 10px;
}
.text_size_s {
  font-size: 12px;
}
.text_size_m {
  font-size: 14px;
}
.text_size_l {
  font-size: 16px;
}
.text_size_xl {
  font-size: 18px;
}
.text_size_xxl {
  font-size: 24px;
}
.text_size_xxl {
  font-size: 24px;
}
.text_size_xxxl {
  font-size: 36px;
}
.text_size_xxxxl {
  font-size: 72px;
}
.text_b2b {
  font-size: 72px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.header__topbar {
  display: flex;
  position: relative;
  padding: 0 36px;
  box-sizing: border-box;
}
.header__block {
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding-top: 30px;
  box-sizing: border-box;
}
.header__block_left {
  flex-direction: column;
}
.header__block_right {
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
}
.header__button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-left: 40px;
}
.header__button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 10px #fff;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header__menu {
  margin-top: 28px;
}
.header__controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__search {
  margin-top: 22px;
  width: 460px;
}
.header__caption {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  text-align: right;
  margin-top: 22px;
}
.header__control {
  position: relative;
  z-index: 20;
  overflow: visible;
}

.price {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
.price_size_l .price__currency {
  font-size: 24px;
  vertical-align: text-top;
  line-height: 1.1;
}
.price_size_l .price__full {
  font-size: 48px;
  vertical-align: text-top;
  line-height: 0.8;
}
.price_size_l .price__cents {
  font-size: 24px;
  vertical-align: text-top;
  line-height: 0.9;
}
.price_size_m .price__currency {
  font-size: 18px;
  vertical-align: text-top;
  line-height: 1.1;
}
.price_size_m .price__full {
  font-size: 36px;
  vertical-align: text-top;
  line-height: 0.8;
}
.price_size_m .price__cents {
  font-size: 16px;
  vertical-align: text-top;
  line-height: 0.9;
}
.price_size_s .price__currency {
  font-size: 18px;
  vertical-align: text-top;
  line-height: 1.1;
}
.price_size_s .price__full {
  font-size: 30px;
  vertical-align: text-top;
  line-height: 0.8;
}
.price_size_s .price__cents {
  font-size: 16px;
  vertical-align: text-top;
  line-height: 0.9;
}
.price_old {
  color: #b4b4b4;
  position: relative;
  margin-top: 10px;
  padding-left: 7px;
  box-sizing: border-box;
}
.price_old:after {
  content: "";
  display: inline-block;
  width: 85%;
  height: 2px;
  background-color: #b4b4b4;
  position: absolute;
  left: 0;
  top: 7px;
}
.price_old .price__currency {
  font-size: 18px;
  line-height: 1.1;
}
.price_old .price__full {
  font-size: 30px;
  line-height: 0.8;
}
.price_old .price__cents {
  font-size: 16px;
  line-height: 0.9;
}

.hero {
  border: 3px solid #747474;
  box-sizing: border-box;
  padding: 26px 48px 26px 58px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 37px;
}
.hero__caption {
  max-width: 776px;
  margin-right: 30px;
}
.hero__title {
  margin-top: 28px;
  font-size: 60px;
  font-family: "Ruslan Display", serif;
  letter-spacing: 0.07em;
}
.hero__text {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  max-width: 88%;
}
.hero__image {
  max-width: 100%;
  height: auto;
  display: block;
  align-self: flex-end;
}
.hero__price {
  position: absolute;
  right: 42px;
  top: 42px;
}
.hero__cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  background-color: #ffc020;
  padding: 21px 42px;
  box-sizing: border-box;
  border-radius: 3px;
}

.section {
  padding-top: 24px;
}
.section__title {
  text-align: center;
  position: relative;
}
.section__title_linethrough:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(3px);
  width: 100%;
  height: 3px;
  background-color: #747474;
  z-index: -1;
}
.section__heading {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  padding: 0 28px;
}
.section__heading_default {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

.price {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
.price_size_l .price__currency {
  font-size: 24px;
  vertical-align: text-top;
  line-height: 1.1;
}
.price_size_l .price__full {
  font-size: 48px;
  vertical-align: text-top;
  line-height: 0.8;
}
.price_size_l .price__cents {
  font-size: 24px;
  vertical-align: text-top;
  line-height: 0.9;
}
.price_size_m .price__currency {
  font-size: 18px;
  vertical-align: text-top;
  line-height: 1.1;
}
.price_size_m .price__full {
  font-size: 36px;
  vertical-align: text-top;
  line-height: 0.8;
}
.price_size_m .price__cents {
  font-size: 16px;
  vertical-align: text-top;
  line-height: 0.9;
}
.price_size_s .price__currency {
  font-size: 18px;
  vertical-align: text-top;
  line-height: 1.1;
}
.price_size_s .price__full {
  font-size: 30px;
  vertical-align: text-top;
  line-height: 0.8;
}
.price_size_s .price__cents {
  font-size: 16px;
  vertical-align: text-top;
  line-height: 0.9;
}
.price_old {
  color: #b4b4b4;
  position: relative;
  margin-top: 10px;
  padding-left: 7px;
  box-sizing: border-box;
}
.price_old:after {
  content: "";
  display: inline-block;
  width: 85%;
  height: 2px;
  background-color: #b4b4b4;
  position: absolute;
  left: 0;
  top: 7px;
}
.price_old .price__currency {
  font-size: 18px;
  line-height: 1.1;
}
.price_old .price__full {
  font-size: 30px;
  line-height: 0.8;
}
.price_old .price__cents {
  font-size: 16px;
  line-height: 0.9;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.card__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__row > .icon + .card__title {
  margin-left: 16px;
}
.card__title {
  font-size: 30px;
  font-family: "Ruslan Display", serif;
  margin-bottom: auto;
  display: inline-block;
}
.card__title > a {
  text-decoration: none;
  color: #000;
}
.card__title > a:hover {
  text-decoration: underline;
}
.card__image > img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: auto;
  align-self: center;
}
.card__price.price .price__currency {
  font-size: 18px;
}
.card__price.price .price__full {
  font-size: 30px;
}
.card__price.price .price__cents {
  font-size: 16px;
}

.cardlist__track {
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}
.cardlist__item {
  margin-bottom: 40px;
  margin-top: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 9px;
  margin-right: 9px;
  width: calc(25% - 18px);
}
@media screen and (max-width: 992px) {
  .cardlist__item {
    width: calc(33.3333333333% - 18px);
  }
}
@media screen and (max-width: 720px) {
  .cardlist__item {
    width: calc(50% - 18px);
  }
}
@media screen and (max-width: 576px) {
  .cardlist__item {
    width: calc(100% - 18px);
  }
}
.cardlist__track_columns_3 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}
.cardlist__track_columns_3 .cardlist__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 30px;
  margin-right: 30px;
  width: calc(100% / 3 * 1 - 60px);
  margin-bottom: 64px;
}

.news__item {
  border-top: 3px solid #747474;
  width: calc(33.3333333333% - 18px);
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  .news__item {
    width: calc(100% - 18px);
  }
}
.news__date {
  align-self: center;
  transform: translateY(-50%);
  padding: 0 17px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  font-family: "Ruslan Display", serif;
}
.news__title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}
.news__more, .news__text {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  text-align: left;
  margin-top: 24px;
}
.news__more {
  display: inline-block;
  color: #0622d7;
  align-self: flex-start;
}

.image-card {
  background-size: cover;
  background-position: center;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 24px;
}
.image-card__title {
  margin: 0;
  width: 100%;
  align-self: center;
  font-size: 48px;
  font-family: "Roboto Slab";
  font-weight: bold;
}

.track {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}
.track__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 9px;
  margin-right: 9px;
  width: calc(33.3333333333% - 18px);
}
@media screen and (max-width: 992px) {
  .track__item {
    height: 100px;
  }
}

.subscribe {
  border: 3px solid #747474;
  text-align: center;
  padding-bottom: 20px;
  width: calc(33.3333333333% - 18px);
}
@media screen and (max-width: 992px) {
  .subscribe {
    width: calc(100% - 18px);
  }
}
.subscribe__title {
  transform: translateY(-50%);
  padding: 0 17px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  font-family: "Ruslan Display", serif;
}
.subscribe__text {
  font-size: 14px;
  color: #000000;
  font-family: "Roboto Slab";
  text-align: center;
}

.decorator_center_a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.decorator_indent-a_xxs {
  margin: 4px;
}
.decorator_indent-a_xs {
  margin: 8px;
}
.decorator_indent-a_s {
  margin: 12px;
}
.decorator_indent-a_m {
  margin: 16px;
}
.decorator_indent-a_l {
  margin: 20px;
}
.decorator_indent-a_xl {
  margin: 24px;
}
.decorator_indent-a_xxl {
  margin: 32px;
}
.decorator_indent-a_xxxl {
  margin: 40px;
}
.decorator_indent-v_xxs {
  margin-top: 4px;
  margin-bottom: 4px;
}
.decorator_indent-v_xs {
  margin-top: 8px;
  margin-bottom: 8px;
}
.decorator_indent-v_s {
  margin-top: 12px;
  margin-bottom: 12px;
}
.decorator_indent-v_m {
  margin-top: 16px;
  margin-bottom: 16px;
}
.decorator_indent-v_l {
  margin-top: 20px;
  margin-bottom: 20px;
}
.decorator_indent-v_xl {
  margin-top: 24px;
  margin-bottom: 24px;
}
.decorator_indent-v_xxl {
  margin-top: 32px;
  margin-bottom: 32px;
}
.decorator_indent-v_xxxl {
  margin-top: 40px;
  margin-bottom: 40px;
}
.decorator_indent-h_xxs {
  margin-left: 4px;
  margin-right: 4px;
}
.decorator_indent-h_xs {
  margin-left: 8px;
  margin-right: 8px;
}
.decorator_indent-h_s {
  margin-left: 12px;
  margin-right: 12px;
}
.decorator_indent-h_m {
  margin-left: 16px;
  margin-right: 16px;
}
.decorator_indent-h_l {
  margin-left: 20px;
  margin-right: 20px;
}
.decorator_indent-h_xl {
  margin-left: 24px;
  margin-right: 24px;
}
.decorator_indent-h_xxl {
  margin-left: 32px;
  margin-right: 32px;
}
.decorator_indent-h_xxxl {
  margin-left: 40px;
  margin-right: 40px;
}
.decorator_indent-t_xxs {
  margin-top: 4px;
}
.decorator_indent-t_xs {
  margin-top: 8px;
}
.decorator_indent-t_s {
  margin-top: 12px;
}
.decorator_indent-t_m {
  margin-top: 16px;
}
.decorator_indent-t_l {
  margin-top: 20px;
}
.decorator_indent-t_xl {
  margin-top: 24px;
}
.decorator_indent-t_xxl {
  margin-top: 32px;
}
.decorator_indent-t_xxxl {
  margin-top: 40px;
}
.decorator_indent-r_xxs {
  margin-right: 4px;
}
.decorator_indent-r_xs {
  margin-right: 8px;
}
.decorator_indent-r_s {
  margin-right: 12px;
}
.decorator_indent-r_m {
  margin-right: 16px;
}
.decorator_indent-r_l {
  margin-right: 20px;
}
.decorator_indent-r_xl {
  margin-right: 24px;
}
.decorator_indent-r_xxl {
  margin-right: 32px;
}
.decorator_indent-r_xxxl {
  margin-right: 40px;
}
.decorator_indent-b_xxs {
  margin-bottom: 4px;
}
.decorator_indent-b_xs {
  margin-bottom: 8px;
}
.decorator_indent-b_s {
  margin-bottom: 12px;
}
.decorator_indent-b_m {
  margin-bottom: 16px;
}
.decorator_indent-b_l {
  margin-bottom: 20px;
}
.decorator_indent-b_xl {
  margin-bottom: 24px;
}
.decorator_indent-b_xxl {
  margin-bottom: 32px;
}
.decorator_indent-b_xxxl {
  margin-bottom: 40px;
}
.decorator_indent-l_xxs {
  margin-left: 4px;
}
.decorator_indent-l_xs {
  margin-left: 8px;
}
.decorator_indent-l_s {
  margin-left: 12px;
}
.decorator_indent-l_m {
  margin-left: 16px;
}
.decorator_indent-l_l {
  margin-left: 20px;
}
.decorator_indent-l_xl {
  margin-left: 24px;
}
.decorator_indent-l_xxl {
  margin-left: 32px;
}
.decorator_indent-l_xxxl {
  margin-left: 40px;
}
.decorator_space-a_xxs {
  padding: 4px;
}
.decorator_space-a_xs {
  padding: 8px;
}
.decorator_space-a_s {
  padding: 12px;
}
.decorator_space-a_m {
  padding: 16px;
}
.decorator_space-a_l {
  padding: 20px;
}
.decorator_space-a_xl {
  padding: 24px;
}
.decorator_space-a_xxl {
  padding: 32px;
}
.decorator_space-a_xxxl {
  padding: 40px;
}
.decorator_space-v_xxs {
  padding-top: 4px;
  padding-bottom: 4px;
}
.decorator_space-v_xs {
  padding-top: 8px;
  padding-bottom: 8px;
}
.decorator_space-v_s {
  padding-top: 12px;
  padding-bottom: 12px;
}
.decorator_space-v_m {
  padding-top: 16px;
  padding-bottom: 16px;
}
.decorator_space-v_l {
  padding-top: 20px;
  padding-bottom: 20px;
}
.decorator_space-v_xl {
  padding-top: 24px;
  padding-bottom: 24px;
}
.decorator_space-v_xxl {
  padding-top: 32px;
  padding-bottom: 32px;
}
.decorator_space-v_xxxl {
  padding-top: 40px;
  padding-bottom: 40px;
}
.decorator_space-h_xxs {
  padding-left: 4px;
  padding-right: 4px;
}
.decorator_space-h_xs {
  padding-left: 8px;
  padding-right: 8px;
}
.decorator_space-h_s {
  padding-left: 12px;
  padding-right: 12px;
}
.decorator_space-h_m {
  padding-left: 16px;
  padding-right: 16px;
}
.decorator_space-h_l {
  padding-left: 20px;
  padding-right: 20px;
}
.decorator_space-h_xl {
  padding-left: 24px;
  padding-right: 24px;
}
.decorator_space-h_xxl {
  padding-left: 32px;
  padding-right: 32px;
}
.decorator_space-h_xxxl {
  padding-left: 40px;
  padding-right: 40px;
}
.decorator_space-t_xxs {
  padding-top: 4px;
}
.decorator_space-t_xs {
  padding-top: 8px;
}
.decorator_space-t_s {
  padding-top: 12px;
}
.decorator_space-t_m {
  padding-top: 16px;
}
.decorator_space-t_l {
  padding-top: 20px;
}
.decorator_space-t_xl {
  padding-top: 24px;
}
.decorator_space-t_xxl {
  padding-top: 32px;
}
.decorator_space-t_xxxl {
  padding-top: 40px;
}
.decorator_space-r_xxs {
  padding-right: 4px;
}
.decorator_space-r_xs {
  padding-right: 8px;
}
.decorator_space-r_s {
  padding-right: 12px;
}
.decorator_space-r_m {
  padding-right: 16px;
}
.decorator_space-r_l {
  padding-right: 20px;
}
.decorator_space-r_xl {
  padding-right: 24px;
}
.decorator_space-r_xxl {
  padding-right: 32px;
}
.decorator_space-r_xxxl {
  padding-right: 40px;
}
.decorator_space-b_xxs {
  padding-bottom: 4px;
}
.decorator_space-b_xs {
  padding-bottom: 8px;
}
.decorator_space-b_s {
  padding-bottom: 12px;
}
.decorator_space-b_m {
  padding-bottom: 16px;
}
.decorator_space-b_l {
  padding-bottom: 20px;
}
.decorator_space-b_xl {
  padding-bottom: 24px;
}
.decorator_space-b_xxl {
  padding-bottom: 32px;
}
.decorator_space-b_xxxl {
  padding-bottom: 40px;
}
.decorator_space-l_xxs {
  padding-left: 4px;
}
.decorator_space-l_xs {
  padding-left: 8px;
}
.decorator_space-l_s {
  padding-left: 12px;
}
.decorator_space-l_m {
  padding-left: 16px;
}
.decorator_space-l_l {
  padding-left: 20px;
}
.decorator_space-l_xl {
  padding-left: 24px;
}
.decorator_space-l_xxl {
  padding-left: 32px;
}
.decorator_space-l_xxxl {
  padding-left: 40px;
}

.instagram {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-right: -32px;
}
.instagram__item {
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 32px;
  margin-right: 32px;
  width: calc(100% / 5 * 1 - 64px);
}
.instagram__more {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Slab";
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.grid-menu {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-right: -32px;
}
.grid-menu__item {
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 32px;
  margin-right: 32px;
  width: calc(100% / 5 * 1 - 64px);
  font-family: "Roboto Slab";
}
.grid-menu__heading {
  padding-top: 24px;
  color: #b4b4b4;
  font-size: 14px;
  margin-bottom: 32px;
}
.grid-menu__link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.grid-menu__link > a {
  color: #000000;
  text-decoration: none;
}

.colored-title {
  margin: 0 auto;
}
.colored-title img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.fact-malkovich {
  background-image: url(../assets/images/b2b-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 52px 0;
  text-align: center;
}
.fact-malkovich__text {
  max-width: 560px;
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-size: 36px;
}
@media screen and (max-width: 720px) {
  .fact-malkovich__text {
    max-width: 90%;
  }
}

.b2b-offer {
  margin: 80px 0;
  position: relative;
}
.b2b-offer__img {
  width: 55%;
  position: absolute;
  top: 0;
  right: 0;
}
.b2b-offer__img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.b2b-offer__main {
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: bold;
  margin-top: 12px;
}
.b2b-offer__secondary {
  font-family: "Roboto Slab";
  font-size: 24px;
  margin-top: 72px;
}
.b2b-offer__link {
  font-family: "Roboto Slab";
  color: #ffc020;
  text-decoration: none;
  font-size: 60px;
}

.item__stock {
  margin-top: 24px;
}
.item__title {
  font-size: 72px;
  font-family: "Ruslan Display";
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumbs__item {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
}
.breadcrumbs__item:not(:first-of-type) {
  margin-left: 54px;
}
.breadcrumbs__category {
  color: #b4b4b4;
}
.breadcrumbs__link {
  color: #3399cc;
  text-decoration: underline;
  cursor: pointer;
}

.stock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Roboto Slab", serif;
}
.stock_size_xl {
  font-size: 18px;
}
.stock_size_xl > .stock__item {
  padding: 8px 10px;
}
.stock_size_s {
  font-size: 12px;
}
.stock_size_s > .stock__item {
  padding: 4px 8px;
}
.stock__item {
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}
.stock__item_success {
  border-color: #15cb4d;
  color: #15cb4d;
}
.stock__item_fail {
  border-color: #b9813f;
  color: #b9813f;
}
.stock__item:not(:first-of-type) {
  margin-top: 7px;
}
.stock__text {
  text-transform: uppercase;
}
.stock__date {
  color: #000;
}

.layout__form {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.layout__panel {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}
.layout__panel_wide {
  width: calc(100% / 8 * 3 - 30px);
}
@media screen and (max-width: 992px) {
  .layout__panel_wide {
    width: calc(100% / 2 * 1 - 30px);
  }
}
@media screen and (max-width: 720px) {
  .layout__panel_wide {
    width: calc(100% / 1 * 1 - 30px);
  }
}
.layout__panel_side {
  width: calc(100% / 8 * 2 - 30px);
}
@media screen and (max-width: 992px) {
  .layout__panel_side {
    width: calc(100% / 1 * 1 - 30px);
  }
}
.layout__panel_double {
  width: calc(100% / 8 * 6 - 30px);
}
@media screen and (max-width: 992px) {
  .layout__panel_double {
    width: calc(100% / 1 * 1 - 30px);
  }
}
.layout__block:not(:first-of-type) {
  margin-top: 40px;
}
.layout__subpanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.layout__subpanel > .layout__block {
  width: calc(50% - 15px);
  margin-top: 0;
  margin-bottom: 40px;
}
.layout__subpanel > .layout__block:nth-of-type(2n) {
  margin-left: 30px;
}
@media screen and (max-width: 992px) {
  .layout__subpanel > .layout__block {
    width: 100%;
  }
  .layout__subpanel > .layout__block:nth-of-type(2n) {
    margin-left: 0;
  }
}
.layout__block-title {
  position: relative;
  display: flex;
  align-items: center;
}
.layout__block-title_align_left {
  justify-content: flex-start;
}
.layout__block-title_align_left > .layout__block-heading {
  padding-right: 8px;
}
.layout__block-title_align_center {
  justify-content: center;
  text-align: center;
}
.layout__block-title_align_center .layout__block-heading {
  padding-right: 8px;
  padding-left: 8px;
}
.layout__block-title_linethrough:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #747474;
  z-index: -1;
}
.layout__block-heading {
  font-family: "Ruslan Display", serif;
  font-size: 24px;
  background-color: #fff;
  display: block;
}
.layout__item:not(:first-of-type) {
  margin-top: 32px;
}
.layout__item-title {
  font-family: "Ruslan Display", serif;
}
.layout__shipping {
  text-align: center;
}
.layout__shipping-link {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  color: #197afe;
  text-decoration: underline;
  margin-bottom: 16px;
}
.layout__option-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}
.layout__option {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 9px;
  margin-right: 9px;
  width: calc(33.3333333333% - 18px);
}
.layout__caption {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 16px;
}

.backorder {
  padding: 16px 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
}
.backorder_1 {
  background-image: url(../assets/images/backorder-1.png);
}
.backorder_2 {
  background-image: url(../assets/images/backorder-2.png);
}
.backorder_3 {
  background-image: url(../assets/images/backorder-3.png);
}
.backorder_selected {
  color: #fff;
  box-shadow: inset 0 0 0 5px #000;
}
.backorder__heading {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 24px;
}
.backorder__text {
  font-size: 14px;
}

.payment-type {
  font-family: "Roboto Slab", serif;
}
.payment-type__option {
  font-size: 24px;
  font-weight: bold;
  border: 3px solid #747474;
  padding: 24px 16px;
  height: 130px;
  background-size: auto;
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.payment-type__option_card {
  background-image: url(../assets/images/payment-card.png);
  background-position: calc(100% - 16px) center;
}
.payment-type__option_paypal {
  background-image: url(../assets/images/payment-paypal.png);
  background-position: calc(100% - 16px) center;
}
.payment-type__option_cash {
  background-image: url(../assets/images/payment-cash.png);
  background-position: calc(100% - 40px) center;
}
.payment-type__option_selected {
  border: 0;
  box-shadow: inset 0 0 0 5px #000;
}
.payment-type__heading {
  margin: 0;
  max-width: 50%;
}

.banner_dark {
  color: #fff;
}
.banner__content {
  position: relative;
  z-index: 1;
  font-family: "Roboto Slab", serif;
}
.banner__image > img {
  max-width: 100%;
  height: auto;
  display: block;
}
.banner__caption {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 32px 42px;
  max-width: 460px;
}
.banner__heading {
  margin: 0;
  font-size: 72px;
  font-weight: bold;
}
.banner__text {
  margin-top: auto;
  font-size: 24px;
}

.order-list {
  display: flex;
  flex-direction: column;
}
.order-list__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.order-item {
  font-family: "Roboto Slab", serif;
}
.order-item__image {
  width: 180px;
}
.order-item__image > img {
  max-width: 100%;
  height: auto;
}
.order-item__title {
  margin-left: 16px;
  max-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.order-item__name {
  font-family: "Ruslan Display", serif;
  font-size: 24px;
}
.order-item__params {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 48px;
}
.order-item__param {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.order-item__param-name {
  margin-bottom: 10px;
}
.order-item__param-value {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1;
}

.preferences-bg {
  width: 100%;
  background-color: #e7f3f5;
  position: relative;
  margin-top: 105px;
}
.preferences-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 300px;
  height: 105px;
  background-image: url("/assets/images/3-dolls.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.preferences {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}
.preferences__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 30px;
  margin-right: 30px;
  width: calc(100% / 3 * 1 - 60px);
  margin-bottom: 64px;
  font-family: "Roboto Slab", serif;
}
.preferences__title {
  text-transform: uppercase;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.preferences__title > .icon {
  height: 50px;
  margin-right: 24px;
}
.preferences__text {
  margin-top: 40px;
  font-size: 16px;
}

.pt-form {
  font-family: "Roboto Slab", serif;
}
.pt-form__item_vertical-align_center {
  display: flex;
  align-items: center;
}
.pt-form__item_vertical-align_start {
  display: flex;
  align-items: flex-start;
}
.pt-form__item_vertical-align_baseline {
  display: flex;
  align-items: baseline;
}
.pt-form__item_distribute_default {
  display: flex;
  justify-content: flex-start;
}
.pt-form__item_distribute_end {
  display: flex;
  justify-content: flex-end;
}
.pt-form__item_distribute_vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.pt-form__item_indent-a_xxs {
  margin: 4px;
}
.pt-form__item_indent-a_xs {
  margin: 8px;
}
.pt-form__item_indent-a_s {
  margin: 12px;
}
.pt-form__item_indent-a_m {
  margin: 16px;
}
.pt-form__item_indent-a_l {
  margin: 20px;
}
.pt-form__item_indent-a_xl {
  margin: 24px;
}
.pt-form__item_indent-a_xxl {
  margin: 32px;
}
.pt-form__item_indent-a_xxxl {
  margin: 40px;
}
.pt-form__item_indent-a_xxxxl {
  margin: 48px;
}
.pt-form__item_indent-a_xxxxxl {
  margin: 64px;
}
.pt-form__item_indent-v_xxs {
  margin-top: 4px;
  margin-bottom: 4px;
}
.pt-form__item_indent-v_xs {
  margin-top: 8px;
  margin-bottom: 8px;
}
.pt-form__item_indent-v_s {
  margin-top: 12px;
  margin-bottom: 12px;
}
.pt-form__item_indent-v_m {
  margin-top: 16px;
  margin-bottom: 16px;
}
.pt-form__item_indent-v_l {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pt-form__item_indent-v_xl {
  margin-top: 24px;
  margin-bottom: 24px;
}
.pt-form__item_indent-v_xxl {
  margin-top: 32px;
  margin-bottom: 32px;
}
.pt-form__item_indent-v_xxxl {
  margin-top: 40px;
  margin-bottom: 40px;
}
.pt-form__item_indent-v_xxxxl {
  margin-top: 48px;
  margin-bottom: 48px;
}
.pt-form__item_indent-v_xxxxxl {
  margin-top: 64px;
  margin-bottom: 64px;
}
.pt-form__item_indent-h_xxs {
  margin-left: 4px;
  margin-right: 4px;
}
.pt-form__item_indent-h_xs {
  margin-left: 8px;
  margin-right: 8px;
}
.pt-form__item_indent-h_s {
  margin-left: 12px;
  margin-right: 12px;
}
.pt-form__item_indent-h_m {
  margin-left: 16px;
  margin-right: 16px;
}
.pt-form__item_indent-h_l {
  margin-left: 20px;
  margin-right: 20px;
}
.pt-form__item_indent-h_xl {
  margin-left: 24px;
  margin-right: 24px;
}
.pt-form__item_indent-h_xxl {
  margin-left: 32px;
  margin-right: 32px;
}
.pt-form__item_indent-h_xxxl {
  margin-left: 40px;
  margin-right: 40px;
}
.pt-form__item_indent-h_xxxl {
  margin-left: 48px;
  margin-right: 48px;
}
.pt-form__item_indent-h_xxxl {
  margin-left: 48px;
  margin-right: 48px;
}
.pt-form__item_indent-t_xxs {
  margin-top: 4px;
}
.pt-form__item_indent-t_xs {
  margin-top: 8px;
}
.pt-form__item_indent-t_s {
  margin-top: 12px;
}
.pt-form__item_indent-t_m {
  margin-top: 16px;
}
.pt-form__item_indent-t_l {
  margin-top: 20px;
}
.pt-form__item_indent-t_xl {
  margin-top: 24px;
}
.pt-form__item_indent-t_xxl {
  margin-top: 32px;
}
.pt-form__item_indent-t_xxxl {
  margin-top: 40px;
}
.pt-form__item_indent-t_xxxxl {
  margin-top: 48px;
}
.pt-form__item_indent-t_xxxxxl {
  margin-top: 64px;
}
.pt-form__item_indent-r_xxs {
  margin-right: 4px;
}
.pt-form__item_indent-r_xs {
  margin-right: 8px;
}
.pt-form__item_indent-r_s {
  margin-right: 12px;
}
.pt-form__item_indent-r_m {
  margin-right: 16px;
}
.pt-form__item_indent-r_l {
  margin-right: 20px;
}
.pt-form__item_indent-r_xl {
  margin-right: 24px;
}
.pt-form__item_indent-r_xxl {
  margin-right: 32px;
}
.pt-form__item_indent-r_xxxl {
  margin-right: 40px;
}
.pt-form__item_indent-r_xxxxl {
  margin-right: 48px;
}
.pt-form__item_indent-r_xxxxxl {
  margin-right: 64px;
}
.pt-form__item_indent-b_xxs {
  margin-bottom: 4px;
}
.pt-form__item_indent-b_xs {
  margin-bottom: 8px;
}
.pt-form__item_indent-b_s {
  margin-bottom: 12px;
}
.pt-form__item_indent-b_m {
  margin-bottom: 16px;
}
.pt-form__item_indent-b_l {
  margin-bottom: 20px;
}
.pt-form__item_indent-b_xl {
  margin-bottom: 24px;
}
.pt-form__item_indent-b_xxl {
  margin-bottom: 32px;
}
.pt-form__item_indent-b_xxxl {
  margin-bottom: 40px;
}
.pt-form__item_indent-b_xxxxl {
  margin-bottom: 48px;
}
.pt-form__item_indent-b_xxxxxl {
  margin-bottom: 64px;
}
.pt-form__item_indent-l_xxs {
  margin-left: 4px;
}
.pt-form__item_indent-l_xs {
  margin-left: 8px;
}
.pt-form__item_indent-l_s {
  margin-left: 12px;
}
.pt-form__item_indent-l_m {
  margin-left: 16px;
}
.pt-form__item_indent-l_l {
  margin-left: 20px;
}
.pt-form__item_indent-l_xl {
  margin-left: 24px;
}
.pt-form__item_indent-l_xxl {
  margin-left: 32px;
}
.pt-form__item_indent-l_xxxl {
  margin-left: 40px;
}
.pt-form__item_indent-l_xxxxl {
  margin-left: 48px;
}
.pt-form__item_indent-l_xxxxxl {
  margin-left: 64px;
}
.pt-form__item_space-a_xxs {
  padding: 4px;
}
.pt-form__item_space-a_xs {
  padding: 8px;
}
.pt-form__item_space-a_s {
  padding: 12px;
}
.pt-form__item_space-a_m {
  padding: 16px;
}
.pt-form__item_space-a_l {
  padding: 20px;
}
.pt-form__item_space-a_xl {
  padding: 24px;
}
.pt-form__item_space-a_xxl {
  padding: 32px;
}
.pt-form__item_space-a_xxxl {
  padding: 40px;
}
.pt-form__item_space-a_xxxxl {
  padding: 48px;
}
.pt-form__item_space-a_xxxxxl {
  padding: 64px;
}
.pt-form__item_space-v_xxs {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pt-form__item_space-v_xs {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pt-form__item_space-v_s {
  padding-top: 12px;
  padding-bottom: 12px;
}
.pt-form__item_space-v_m {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pt-form__item_space-v_l {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pt-form__item_space-v_xl {
  padding-top: 24px;
  padding-bottom: 24px;
}
.pt-form__item_space-v_xxl {
  padding-top: 32px;
  padding-bottom: 32px;
}
.pt-form__item_space-v_xxxl {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pt-form__item_space-v_xxxxl {
  padding-top: 48px;
  padding-bottom: 48px;
}
.pt-form__item_space-v_xxxxxl {
  padding-top: 64px;
  padding-bottom: 64px;
}
.pt-form__item_space-h_xxs {
  padding-left: 4px;
  padding-right: 4px;
}
.pt-form__item_space-h_xs {
  padding-left: 8px;
  padding-right: 8px;
}
.pt-form__item_space-h_s {
  padding-left: 12px;
  padding-right: 12px;
}
.pt-form__item_space-h_m {
  padding-left: 16px;
  padding-right: 16px;
}
.pt-form__item_space-h_l {
  padding-left: 20px;
  padding-right: 20px;
}
.pt-form__item_space-h_xl {
  padding-left: 24px;
  padding-right: 24px;
}
.pt-form__item_space-h_xxl {
  padding-left: 32px;
  padding-right: 32px;
}
.pt-form__item_space-h_xxxl {
  padding-left: 40px;
  padding-right: 40px;
}
.pt-form__item_space-h_xxxxl {
  padding-left: 48px;
  padding-right: 48px;
}
.pt-form__item_space-h_xxxxxl {
  padding-left: 64px;
  padding-right: 64px;
}
.pt-form__item_space-t_xxs {
  padding-top: 4px;
}
.pt-form__item_space-t_xs {
  padding-top: 8px;
}
.pt-form__item_space-t_s {
  padding-top: 12px;
}
.pt-form__item_space-t_m {
  padding-top: 16px;
}
.pt-form__item_space-t_l {
  padding-top: 20px;
}
.pt-form__item_space-t_xl {
  padding-top: 24px;
}
.pt-form__item_space-t_xxl {
  padding-top: 32px;
}
.pt-form__item_space-t_xxxl {
  padding-top: 40px;
}
.pt-form__item_space-t_xxxxl {
  padding-top: 48px;
}
.pt-form__item_space-t_xxxxxl {
  padding-top: 64px;
}
.pt-form__item_space-r_xxs {
  padding-right: 4px;
}
.pt-form__item_space-r_xs {
  padding-right: 8px;
}
.pt-form__item_space-r_s {
  padding-right: 12px;
}
.pt-form__item_space-r_m {
  padding-right: 16px;
}
.pt-form__item_space-r_l {
  padding-right: 20px;
}
.pt-form__item_space-r_xl {
  padding-right: 24px;
}
.pt-form__item_space-r_xxl {
  padding-right: 32px;
}
.pt-form__item_space-r_xxxl {
  padding-right: 40px;
}
.pt-form__item_space-r_xxxxl {
  padding-right: 48px;
}
.pt-form__item_space-r_xxxxxl {
  padding-right: 64px;
}
.pt-form__item_space-b_xxs {
  padding-bottom: 4px;
}
.pt-form__item_space-b_xs {
  padding-bottom: 8px;
}
.pt-form__item_space-b_s {
  padding-bottom: 12px;
}
.pt-form__item_space-b_m {
  padding-bottom: 16px;
}
.pt-form__item_space-b_l {
  padding-bottom: 20px;
}
.pt-form__item_space-b_xl {
  padding-bottom: 24px;
}
.pt-form__item_space-b_xxl {
  padding-bottom: 32px;
}
.pt-form__item_space-b_xxxl {
  padding-bottom: 40px;
}
.pt-form__item_space-b_xxxxl {
  padding-bottom: 48px;
}
.pt-form__item_space-b_xxxxxl {
  padding-bottom: 64px;
}
.pt-form__item_space-l_xxs {
  padding-left: 4px;
}
.pt-form__item_space-l_xs {
  padding-left: 8px;
}
.pt-form__item_space-l_s {
  padding-left: 12px;
}
.pt-form__item_space-l_m {
  padding-left: 16px;
}
.pt-form__item_space-l_l {
  padding-left: 20px;
}
.pt-form__item_space-l_xl {
  padding-left: 24px;
}
.pt-form__item_space-l_xxl {
  padding-left: 32px;
}
.pt-form__item_space-l_xxxl {
  padding-left: 40px;
}
.pt-form__item_space-l_xxxxl {
  padding-left: 48px;
}
.pt-form__item_space-l_xxxxxl {
  padding-left: 64px;
}
.pt-form__control {
  flex-grow: 1;
}
.pt-form__label {
  font-family: "Roboto Slab";
  width: 40%;
  flex-shrink: 0;
}
.pt-form__label_width_auto {
  width: auto;
  padding-right: 2em;
}
.pt-form__caption a {
  color: inherit;
  text-decoration: none;
}

.input {
  touch-action: manipulation;
  background: #747474;
  display: inline-block;
  position: relative;
}
.input_is-required:after {
  position: absolute;
  bottom: -18px;
  left: 0;
  content: "Is required";
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  color: #a3a3a3;
}
.input_is-required.input_view_error:after {
  color: #dd2d24;
}
.input_view_success {
  background: #15cb4d;
}
.input_view_error {
  background: #df2b37;
}
.input:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: "";
  background: #fff;
}
.input_width_available {
  width: 100%;
}
.input_size_xl {
  font-size: 18px;
  line-height: 22px;
}
.input_size_xl .input__control {
  height: 38px;
  padding: 0 12px;
}
.input__box {
  display: block;
}
.input__area {
  display: block;
}
.input__area .input__control {
  padding: 6px 10px;
  resize: vertical;
  min-height: 78px;
}
.input__control {
  font: inherit;
  line-height: inherit;
  width: 100%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}
.input__control:focus {
  outline-color: transparent;
}

.search-input {
  background: #f5f5f5;
  padding: 8px 40px;
  border-radius: 24px;
  max-width: 457px;
}
.search-input:before {
  display: none;
}
.search-input .icon {
  position: absolute;
  left: 16px;
  top: 8px;
  z-index: 10;
}

.textarea_size_xl {
  font-size: 18px;
  line-height: 22px;
}
.textarea_width_available {
  width: 100%;
}

.radio-select {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.radio-select__option {
  margin-right: 48px;
  position: relative;
}
.radio-select__option_selected:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(0.5em);
  height: 3px;
  width: 100%;
  background-color: #ffc022;
}

::selection {
  background-color: #FCB040;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
