@import '../css/vendors/smart-grid';
//@include reset();
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic');
@import 'variables';
@import 'fonts';
@import 'layout';

@import 'blocks/logo';
@import 'blocks/menu';
@import 'blocks/submenu';
@import 'blocks/button';
@import 'blocks/user-button';
@import 'blocks/cart-button';
@import 'blocks/icon';
@import 'blocks/contact-info';
@import 'blocks/lang-switch';
@import 'blocks/checkbox';
@import 'blocks/radio';
@import 'blocks/range';

@import 'blocks/user-popup';
@import 'blocks/wrapper';
@import 'blocks/text';
@import 'blocks/header';
@import 'blocks/hero'; //@include reset();
@import 'blocks/section';
@import 'blocks/card';
@import 'blocks/cardlist';
@import 'blocks/news';
@import 'blocks/image-card';
@import 'blocks/track';
@import 'blocks/subscribe';
@import 'blocks/decorator';
@import 'blocks/instagram';
@import 'blocks/grid-menu';
@import 'blocks/mass';
@import 'blocks/b2b-offer';
@import 'blocks/item';
@import 'blocks/breadcrumbs';
@import 'blocks/size';
@import 'blocks/gallery';
@import 'blocks/stock';
@import 'blocks/story';
@import 'blocks/layout';
@import 'blocks/backorder';
@import 'blocks/payment-type';
@import 'blocks/banner';
@import 'blocks/order-list';
@import 'blocks/order-item';
@import 'blocks/preferences';



@import 'patterns/pt-form';
@import 'blocks/input';
@import 'blocks/search-input';
@import 'blocks/textarea';
@import 'blocks/radio-select';

::selection {
    background-color: #FCB040;
    color: #ffffff;
}
