$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 40px;
$space-xxxxl: 48px;
$space-xxxxxl: 64px;

$size-typo-xs: 10px;
$size-typo-s: 12px;
$size-typo-m: 14px;
$size-typo-l: 16px;
$size-typo-xl: 18px;
$size-typo-xxl: 24px;
$size-typo-xxl: 24px;
$size-typo-xxxl: 36px;
$size-typo-xxxxl: 72px;
