.b2b-offer {
	margin: 80px 0;
	position: relative;

	&__img {
		width: 55%;
		position: absolute;
		top: 0;
		right: 0;

		& img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__main {
		font-family: 'Roboto Slab';
		font-size: 36px;
		font-weight: bold;
		margin-top: 12px;
	}

	&__secondary {
		font-family: 'Roboto Slab';
		font-size: 24px;
		margin-top: 72px;
	}

	&__link {
		font-family: 'Roboto Slab';
		color: #ffc020;
		text-decoration: none;
		font-size: 60px;
	}
}
