.backorder {
	padding: 16px 10px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right bottom;
	font-family: 'Roboto Slab', serif;
	cursor: pointer;
	&_1 {
		background-image: url(../assets/images/backorder-1.png);
	}
	&_2 {
		background-image: url(../assets/images/backorder-2.png);
	}
	&_3 {
		background-image: url(../assets/images/backorder-3.png);
	}
	&_selected {
		color: #fff;
		box-shadow: inset 0 0 0 5px #000;
	}
	&__heading{
		font-size: $size-typo-xxl;
		font-weight: bold;
		margin: 0;
		margin-bottom: 24px;
	}
	&__text {
		font-size: $size-typo-m;
	}
}
