.banner {
	&_dark {
		color: #fff;
	}
	&__content {
		position: relative;
		z-index: 1;

		font-family: 'Roboto Slab', serif;

	}
	&__image {
		& > img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}
	&__caption {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		padding: 32px 42px;
		max-width: 460px;
	}
	&__heading {
		margin: 0;
		font-size: $size-typo-xxxxl;
		font-weight: bold;
	}
	&__text {
		margin-top: auto;
		font-size: $size-typo-xxl;
	}
}
