.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&__item {
		&:not(:first-of-type) {
			margin-left: 54px;
		}
		font-family: 'Roboto Slab', serif;
		font-size: $size-typo-l;
	}
	&__category {
		color: #b4b4b4
	}
	&__link {
		color: #3399cc;
		text-decoration: underline;

		cursor: pointer;
	}
}
