.button {
    background: none;
    border: 0;
    padding: 0;

    &:not([disabled]) {
        cursor: pointer;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 10px #FCB040;
    }

	&_default {
		text-transform: uppercase;
		border-radius: 3px;
		background-color: #ffbf1f;
		font-family: 'Roboto', sans-serif;
		font-size: $size-typo-xl;
		font-weight: bold;
		padding: $space-m $space-xxxxl;
	}
	&_xxl {
		font-size: $size-typo-xxl;
	}
	&_narrow {
		padding: $space-xs $space-xxl;
	}

	&_link {

		& > i {
			margin-right: 8px;
		}
		&_gold {
			color: #b98241;
		}
	}
}
