@import './price';
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


	&__row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&>.icon+.card__title {
			margin-left: 16px;
		}
	}

    &__title {
        font-size: 30px;
        font-family: 'Ruslan Display', serif;
        margin-bottom: auto;
		display: inline-block;

		& > a {
			text-decoration: none;
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
    }

    &__image > img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: auto;
		align-self: center;
    }

    &__price.price {
		& .price__currency {
			font-size: 18px;
		}
		& .price__full {
				font-size: 30px;
			}
		& .price__cents {
				font-size: 16px;
			}
    }




}
