.cardlist {

    &__track {
        @include row-flex();


    }


    &__item {
		margin-bottom: 40px;
		margin-top: 30px;
        @include col();
        @include size(3);
        @include size-md(4);
        @include size-sm(6);
        @include size-xs(12);
    }


	&__track {

		&_columns_3 {
			$o: 60px;
			@include u-row-flex($o);
			.cardlist__item {

				@include u-col($o);
				@include u-size(1, 3, $o);
				margin-bottom: 64px;
			}
		}

    }


}
