.cart-button {
    position: relative;

    &:before {
        content: attr(data-count);
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffc020;
        width: 24px;
        height: 24px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        bottom: -4px;
        left: -4px;
    }
}
