.contact-info {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__text {
        color: #b4b4b4;
        margin: 0;
        padding: 0 1rem 0 0;
        width: 185px;
    }

    &__link {
        color: #444444;
        text-decoration: none;
    }
}
