.grid-menu {
	padding-top: 24px;
	$o: 64px;
	@include u-row-flex($o);
	&__item {
		position: relative;
		@include u-col($o);
		@include u-size(1, 5, $o);

		font-family: 'Roboto Slab';
	}

	&__heading {
		padding-top: 24px;
		color: #b4b4b4;
		font-size: $size-typo-m;
		margin-bottom: 32px;
	}

	&__link {
		display: block;
		font-size: $size-typo-l;
		line-height: 24px;

		text-transform: uppercase;


		&>a {
			color: #000000;
			text-decoration: none;
		}
	}
}
