.header {
    &__topbar {
        display: flex;
        position: relative;
        padding: 0 36px;
        box-sizing: border-box;
    }

    &__block {
        display: flex;
        align-items: flex-start;
        flex: 1;
        padding-top: 30px;
        box-sizing: border-box;

        &_left {
            flex-direction: column;
        }

        &_right {
            justify-content: flex-start;
            align-items: flex-end;
            flex-direction: column;
			position: relative;
        }
    }

    &__button {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        margin-left: 40px;

		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			box-shadow: 0 0 0 10px #fff;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

		}
    }

    &__menu {
        margin-top: 28px;
    }

    &__controls {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__search {
        margin-top: 22px;
        width: 460px;
    }

    &__caption {
        font-size: 18px;
        font-family: 'Roboto Slab', serif;
        text-align: right;
        margin-top: 22px;
    }

	&__control {
		position: relative;
		z-index: 20;
		overflow: visible;
	}
}
