@import 'price';

.hero {
    border: 3px solid #747474;
    box-sizing: border-box;
    padding: 26px 48px 26px 58px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 37px;

    &__caption {
        max-width: 776px;
        margin-right: 30px;
    }

    &__title {
        margin-top: 28px;
        font-size: 60px;
        font-family: 'Ruslan Display', serif;
        letter-spacing: 0.07em;
    }

    &__text {
        font-size: 30px;
        font-family: 'Roboto Slab', serif;
        max-width: 88%;
    }

    &__image {
        max-width: 100%;
        height: auto;
        display: block;
        align-self: flex-end;
    }

    &__price {
        position: absolute;
        right: 42px;
        top: 42px;
    }

    &__cta {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        background-color: #ffc020;
        padding: 21px 42px;
        box-sizing: border-box;
        border-radius: 3px;
    }
}
