.icon {
    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;
    width: 18px;
    min-width: 1em;
    line-height: 18px;
    font-size: 14px;

    &:empty:after {
        visibility: hidden;
        content: '\00A0';
    }

    &_size_l {
        width: 52px;
        line-height: 52px;
    }

    &_user {
        background-image: url("../assets/images/user.svg");
    }

    &_cart {
        background-image: url("../assets/images/cart.svg");
    }
    &_bestseller {
		font-size: 40px;
		height: 50px;
        background-image: url("../assets/images/bestseller.svg");
    }
    &_baby_small {
		font-size: 36px;
		height: 28px;
        background-image: url("../assets/images/baby.png");
    }
	&_coins {
		font-size: 16px;
		height: 16px;
		background-image: url("../assets/images/coins.svg");
	}

    &_action_search {
        background-image: url("../assets/images/search.png");
    }

	&_free-shipping {
		background-image: url("../assets/images/shipping.svg");
		height: 50px;
		width: 84px;
	}
	&_russian {
		width: 50px;
		height: 50px;
		background-image: url("../assets/images/russian.svg");
	}
	&_pounch {
		height: 50px;
		background-image: url("../assets/images/pounch.svg");
	}
	&_hand {
		height: 50px;
		width: 50px;
		background-image: url("../assets/images/hand.svg");
	}
}
