.image-card {
	background-size: cover;
	background-position: center;

	height: 270px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	box-sizing: border-box;
	padding: 24px;

	&__title {
		margin: 0;
		width: 100%;
		align-self: center;
		font-size: 48px;
		font-family: "Roboto Slab";
		font-weight: bold;
	}
}
