.input {
	touch-action: manipulation;
	background: #747474;
	display: inline-block;
	position: relative;

	&_is-required {
		&:after {
			position: absolute;
			bottom: -18px;
			left: 0;
			content: 'Is required';
			font-family: 'Roboto Slab', serif;
			font-size: $size-typo-s;
			color: #a3a3a3;
		}
	}

	&_is-required.input_view_error {
		&:after {
			color: #dd2d24;
		}
	}

	&_view {
		&_success {
			background: #15cb4d;
		}
		&_error {
			background: #df2b37;
		}
	}

	&:before {
	    position: absolute;
	    top: 1px;
	    right: 1px;
	    bottom: 1px;
	    left: 1px;
	    content: '';
	    background: #fff;
	}

	&_width_available {
		width: 100%;
	}

	&_size {
		&_xl {
			font-size: $size-typo-xl;
			line-height: 22px;

			& .input__control {
				height: 38px;
				padding: 0 12px;
			}
		}
	}

	&__box {
		display: block;
	}
	&__area {
		display: block;


		& .input__control {
			padding: 6px 10px;
			resize: vertical;
			min-height: 78px;
		}
	}

	&__control {
		font: inherit;
		line-height: inherit;
		width: 100%;
		position: relative;
    	display: inline-block;
		box-sizing: border-box;
		background: 0 0;
		border: 0;
		-webkit-appearance: none;

		&:focus {
			outline-color: transparent;
		}
	}



}
