.instagram {
	padding-top: 24px;
	$o: 64px;
	@include u-row-flex($o);
	&__item {
		position: relative;
		@include u-col($o);
		@include u-size(1, 5, $o);
	}
	&__more {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		background-color: rgba(0,0,0,0.65);
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Roboto Slab';
		font-size: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}
}
