.lang-switch {
    display: flex;
    align-items: center;

    &__divider {
        height: 20px;
        width: 1px;
        background-color: #a3a3a3;
        margin: 0 12px;
    }

    &__option {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        line-height: 1;
        font-weight: medium;
        color: #a3a3a3;
        cursor: pointer;

        &.is-active {
            color: #000;
        }
    }
}
