.layout {

	$o: 30px;
	&__form {
		@include u-row-flex($o);
	}

	&__panel {
		@include u-col($o);
		&_wide {
			@include u-size(3, 8, $o);
			@include md-block() {
				@include u-size(1, 2, $o);
			}
			@include sm-block() {
				@include u-size(1, 1, $o);
			}
		}
		&_side {
			@include u-size(2, 8, $o);
			@include md-block() {
				@include u-size(1, 1, $o);
			}
		}
		&_double {
			@include u-size(6, 8, $o);
			@include md-block() {
				@include u-size(1, 1, $o);
			}
		}
	}
	&__block {
		&:not(:first-of-type) {
			margin-top: 40px;
		}
	}
	&__subpanel {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;

		& > .layout__block {
			width: calc(50% - 15px);
			margin-top: 0;
			margin-bottom: 40px;
			&:nth-of-type(2n) {
				margin-left: 30px;

			}

			@include md-block() {
				width: 100%;
				&:nth-of-type(2n) {
					margin-left: 0;

				}
			}
		}
	}

	&__block-title {

		position: relative;
		display: flex;
		align-items: center;

		&_align {
			&_left {
				justify-content: flex-start;


				&>.layout__block-heading {
					padding-right: 8px;
				}
			}
			&_center {
				justify-content: center;
				text-align: center;


				& .layout__block-heading {
					padding-right: 8px;
					padding-left: 8px;
				}
			}
		}


		&_linethrough:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 50%;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #747474;
            z-index: -1;
        }
	}

	&__block-heading {
		font-family: 'Ruslan Display', serif;
		font-size: $size-typo-xxl;
		background-color: #fff;
		display: block;
	}

	&__item {
		&:not(:first-of-type) {
			margin-top: 32px;
		}
	}
	&__item-title {
		font-family: 'Ruslan Display', serif;
	}
	&__shipping {
		text-align: center;
	}
	&__shipping-link {
		font-family: 'Roboto Slab', serif;
		font-size: $size-typo-l;
		display: inline-block;
		text-align: center;
		color: #197afe;
		text-decoration: underline;
		margin-bottom: 16px;
	}

	&__option-list {
		@include row-flex();

	}
	&__option {
		@include col();
		@include size(4);
	}

	&__caption {
		font-family: 'Roboto Slab', serif;
		font-weight: bold;
		font-size: $size-typo-m;
		margin-bottom: 16px;
	}
}
