.logo {
    text-align: center;
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
	color: #000;
	text-decoration: none;

    &:before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #747474;
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 46px;
    }

    &__image {
        width: 80px;
        height: auto;
        display: block;
        margin: 15px auto;
    }

    &__text {
        font-family: 'Ruslan Display', serif;
        font-size: 36px;
        line-height: 43px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
}
