.colored-title {
	margin: 0 auto;
	& img {
		max-width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}

.fact-malkovich {
	background-image: url(../assets/images/b2b-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 52px 0;
	text-align: center;

	&__text {

		max-width: 560px;
		font-family: 'Roboto Slab', serif;
		color: #fff;
		font-size: 36px;

		@include sm-block() {
			max-width: 90%;
		}
	}
}
