.menu {
    &__list {
        list-style: none;
        margin: 0;
		padding: 0;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
		position: relative
    }

    &__item {
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
		padding: 10px;
		&_selected {
			background-color: #f5f5f5;
		}

		&-content {
			display: none;
			position: absolute;
			z-index: 10;
			left: 0;
			top: 100%;
			background-color: #f5f5f5;
			padding: 16px 32px;

			&_visible {
				display: inline-block;
			}

		}

		&:first-of-type {
			padding-left: 12px;
		}
		&:last-of-type {
			padding-right: 12px;
		}
    }

    &__link {
        color: #000;
        text-decoration: none;
    }

    &__icon {
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px;
            background-size: contain;
            margin-top: -7px;
        }

        &_menu {
            &:before {
                height: 12px;
                width: 18px;
                background: url("../assets/images/menu.png") center no-repeat;
                margin-top: -4px;
            }
        }

        &_nesting-doll {
            &:before {
                height: 33px;
                width: 21px;
                background: url("../assets/images/nesting-doll.png") center no-repeat;
            }
        }

        &_easter-egg {
            &:before {
                height: 31px;
                width: 26px;
                background: url("../assets/images/easter-egg.png") center no-repeat;
            }
        }

        &_christmas-angel {
            &:before {
                height: 29px;
                width: 25px;
                background: url("../assets/images/christmas-angel.png") center no-repeat;
            }
        }
    }

}
