.news {
    &__item {
        border-top: 3px solid #747474;
        @include size(4);
		@include size-md(12);
		display: flex;
		flex-direction: column;
    }

    &__date {
		align-self: center;
        transform: translateY(-50%);
        padding: 0 17px;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        font-size: 24px;
        font-family: 'Ruslan Display', serif;
    }

    &__title {
        font-family: 'Roboto Slab', serif;
        font-size: 24px;
        font-weight: bold;
        text-align: left;
		margin: 0;

    }

    &__more,
    &__text {
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        text-align: left;
		margin-top: 24px;
    }

    &__more {
        display: inline-block;
        color: #0622d7;
		align-self: flex-start;
    }
}
