.order-item {
	font-family: 'Roboto Slab',serif;
	&__image {
		width: 180px;
		& > img {
			max-width: 100%;
			height: auto;
		}
	}
	&__title {
		margin-left: 16px;
		max-width: 190px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__name {
		font-family: 'Ruslan Display', serif;
		font-size: $size-typo-xxl;
	}
	&__params {
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 0 48px;
	}
	&__param {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&-name {
			margin-bottom: 10px;
		}
		&-value {
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			line-height: 1;
		}
	}
}
