.payment-type {
	font-family: 'Roboto Slab', serif;
	&__option {
		font-size: $size-typo-xxl;
		font-weight: bold;
		border: 3px solid #747474;
		padding: 24px 16px;
		height: 130px;
		background-size: auto;
		background-position: right center;
		background-repeat: no-repeat;
		cursor: pointer;


		&_card {
			background-image: url(../assets/images/payment-card.png);
			background-position: calc(100% - 16px) center;
		}
		&_paypal {
			background-image: url(../assets/images/payment-paypal.png);
			background-position: calc(100% - 16px) center;
		}
		&_cash {
			background-image: url(../assets/images/payment-cash.png);
			background-position: calc(100% - 40px) center;
		}

		&_selected {
			border: 0;
			box-shadow: inset 0 0 0 5px #000
		}
	}
	&__heading {
		margin: 0;
		max-width: 50%;
	}

}
