.preferences-bg {
	width: 100%;
	background-color: #e7f3f5;
	position: relative;
	margin-top: 105px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -100%);
		width: 300px;
		height: 105px;
		background-image: url('/assets/images/3-dolls.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}
}
.preferences {
	padding-top: 40px;
	$o: 60px;
    @include u-row-flex($o);

	&__item {
		@include u-col($o);
		@include u-size(1, 3, $o);
		margin-bottom: 64px;
		font-family: 'Roboto Slab', serif;
	}

	&__title {
		text-transform: uppercase;
		font-size: $size-typo-xxl;
		display: flex;
		align-items: center;

		&>.icon {
			height: 50px;
			margin-right: 24px;
		}
	}

	&__text {
		margin-top: $space-xxxl;
		font-size: $size-typo-l;
	}


}
