.price {
    font-family: Roboto, sans-serif;
    font-weight: bold;

	&_size_l {
		& .price__currency {
	        font-size: 24px;
	        vertical-align: text-top;
	        line-height: 1.1;
	    }

	    & .price__full {
	        font-size: 48px;
	        vertical-align: text-top;
	        line-height: 0.8;
	    }

	    & .price__cents {
	        font-size: 24px;
	        vertical-align: text-top;
	        line-height: 0.9;
	    }
	}
	&_size_m {
		& .price__currency {
	        font-size: 18px;
	        vertical-align: text-top;
	        line-height: 1.1;
	    }

	    & .price__full {
	        font-size: 36px;
	        vertical-align: text-top;
	        line-height: 0.8;
	    }

	    & .price__cents {
	        font-size: 16px;
	        vertical-align: text-top;
	        line-height: 0.9;
	    }
	}
	&_size_s {
		& .price__currency {
	        font-size: 18px;
	        vertical-align: text-top;
	        line-height: 1.1;
	    }

	    & .price__full {
	        font-size: 30px;
	        vertical-align: text-top;
	        line-height: 0.8;
	    }

	    & .price__cents {
	        font-size: 16px;
	        vertical-align: text-top;
	        line-height: 0.9;
	    }
	}


    &_old {
        color: #b4b4b4;
        position: relative;
        margin-top: 10px;
        padding-left: 7px;
        box-sizing: border-box;

        &:after {
            content: '';
            display: inline-block;
            width: 85%;
            height: 2px;
            background-color: #b4b4b4;
            position: absolute;
            left: 0;
            top: 7px;
        }

        .price__currency {
            font-size: 18px;
            line-height: 1.1;
        }

        .price__full {
            font-size: 30px;
            line-height: 0.8;
        }

        .price__cents {
            font-size: 16px;
            line-height: 0.9;
        }
    }
}
