.radio {
	position: relative;
	padding-left: 24px;
	text-align: left;
	-webkit-touch-action: manipulation;

	&__text {
		cursor: pointer;
		font-family: 'Roboto Slab', serif;
		color: #747474;

		&:after,
		&:before {
			content: '';
			position: absolute;
		}

		&:before {
			top: 3px;
			left: 0;
			width: 17px;
			height: 17px; // margin: -10px 0 0;
			background: #fff;
			box-shadow: inset 0 0 0 2px #ffbf1f;
		}

		&:after {
			left: 5px;
			top: 8px;
			width: 7px;
			height: 7px; // margin: -5px 0 0;
			opacity: 0;
			background: #ffbf1f;
			transform: translate3d(-10px, 0, 0) scale(0.5);
			transition: opacity 0.1s ease-in-out, transform 0.15s ease-in-out;
		}
	}

	input[type="radio"] {
		position: absolute;
		top: 0;
		left: -9999px;
		visibility: hidden;
		-webkit-appearance: none;

		&:checked + .radio__text {
			color: #000;
			&:after {
				transform: translate3d(0, 0, 0);
				opacity: 1;
			}
		}
	}
}
