.radio-select {
	font-family: 'Roboto Slab', serif;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&__option {
		margin-right: 48px;
		position: relative;

		&_selected {
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				transform: translateY(.5em);
				height: 3px;
				width: 100%;
				background-color: #ffc022;
			}
		}
	}
}
