.range {
	width: 100%;
	height: 16px;
	-webkit-appearance: none;
	&_with_inputs {
		display: flex;
		align-items: stretch;
	}

	&__item {
		width: calc(50% - 10px);
		&:first-of-type {
			margin-right: 20px;
		}
	}

}
