.search-input {
	background: #f5f5f5;
	padding: $space-xs $space-xxxl;
	border-radius: $space-xl;
	max-width: 457px;

	&:before {
	    display: none;
	}

	& .icon {
		position: absolute;
		left: 16px;
		top: 8px;
		z-index: 10;
	}
}
