.section {
	padding-top: 24px;
    &__title {
        text-align: center;
        position: relative;

        &_linethrough:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 50%;
            left: 0;
            transform: translateY(3px);
            width: 100%;
            height: 3px;
            background-color: #747474;
            z-index: -1;
        }
    }

    &__heading {
        display: inline-block;

		margin-top: 0;
        margin-bottom: 0;
        background-color: #fff;
        padding: 0 28px;

		&_default {
			font-family: 'Roboto Slab', serif;
	        font-size: 18px;
		}
    }
}
