.stock {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'Roboto Slab', serif;

	&_size_xl {
		font-size: $size-typo-xl;
		& > .stock__item {
			padding: 8px 10px;
		}

	}

	&_size_s {
		font-size: $size-typo-s;
		& > .stock__item {
			padding: 4px 8px;
		}
	}

	&__item {
		border-radius: 5px;
		border-width: 2px;
		border-style: solid;



		&_success {
			border-color: #15cb4d;
			color: #15cb4d;
		}

		&_fail {
			border-color: #b9813f;
			color: #b9813f;
		}

		&:not(:first-of-type) {
			margin-top: 7px;
		}
	}
	&__text {
		text-transform: uppercase;

	}
	&__date {
		color: #000;
	}
}
