.submenu {
	display: flex;
	&__item {
		margin-right: 48px;

		&:last-child {
			margin-right: 0;
		}

		&_best {
			max-width: 240px;
			padding-left: 24px;
			position: relative;
			border-left: 1px solid #000;
			// &:before {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 50%;
			// 	content: '';
			// 	display: block;
			// 	width: 1px;
			// 	height: 100%;
			// 	background-color: #000;
			// }

			& .best-offer {
				display: block;
				position: absolute;
				left: -7px;
				top: 50%;
				height: 100%;



				&__text {
					position: absolute;
					transform: rotate(-90deg) translateX(-50%);
					transform-origin: left top;
					white-space: nowrap;
					padding: 0 8px;
					background-color: #f5f5f5;
					font-family: 'Ruslan Display';
					font-size: 14px;
				}

			}
		}
	}
	&__link {
		margin: 12px 0;
		&>a {
			text-decoration: none;
			color: #000;
		}
	}
}
