.subscribe {
	border: 3px solid #747474;
	text-align: center;
	padding-bottom: $space-l;
	@include size(4);
	@include size-md(12);

	&__title {
		transform: translateY(-50%);
        padding: 0 17px;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        font-size: 24px;
        font-family: 'Ruslan Display', serif;
	}

	&__text {
		font-size: 14px;
		color: #000000;
		font-family: "Roboto Slab";
		text-align: center;
	}
}
