.text {
	font-family: 'Roboto Slab';
	&_view {
		&_inverted {
			color: #fff;
		}
		&_faded {
			color: #a3a3a3;
		}
		&_gold {
			font-weight: bold;
			color: #ba8240;
		}
	}
	&_align {
		&_center {
			text-align: center;
		}
		&_left {
			text-align: left;
		}
		&_right {
			text-align: right;
		}
	}
	&_size {
		&_xs {
			font-size: $size-typo-xs;
		}
		&_s {
			font-size: $size-typo-s;
		}
		&_m {
			font-size: $size-typo-m;
		}
		&_l {
			font-size: $size-typo-l;
		}
		&_xl {
			font-size: $size-typo-xl;
		}
		&_xxl {
			font-size: $size-typo-xxl;
		}
		&_xxl {
			font-size: $size-typo-xxl;
		}
		&_xxxl {
			font-size: $size-typo-xxxl;
		}
		&_xxxxl {
			font-size: $size-typo-xxxxl;
		}
	}

	&_b2b {
		font-size: $size-typo-xxxxl;
		font-family: "Roboto Slab", serif;
		font-weight: bold;
	}
}
