.user-popup {
	position: absolute;
	display: none;
	background-color: #fff;
	padding: 14px 18px;
	top: 25%;
	right: 0;

	&_is-shown {
		display: block;
		z-index: 10;
	}

	&__content {
		display: block;
		border: 3px solid #747474;
		padding: 44px 28px 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&__title {
		position: absolute;
		top: 0;
		transform: translateY(-50%);
		padding: 0 8px;
		background-color: #fff;
		font-family: 'Ruslan Display';
		font-size: $size-typo-xl;
	}

	&__controls {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	&__link {
		display: inline-block;
		white-space: nowrap;
		font-size: $size-typo-xl;
		font-family: 'Roboto Slab';
		text-decoration: none;
		color: #000;
		font-weight: bold;

		&:not(:first-of-type) {
			margin-left: 24px;
		}

		&:hover {
			color: #fcb040;
		}
	}
}
