.pt-form {
	font-family: 'Roboto Slab', serif;
	&__item {
		&_vertical-align {

			&_center {
				display: flex;
				align-items: center;
			}
			&_start {
				display: flex;
				align-items: flex-start;
			}
			&_baseline {
				display: flex;
				align-items: baseline;
			}
		}

		&_distribute {
			&_default {
				display: flex;
				justify-content: flex-start;
			}
			&_end {
				display: flex;
				justify-content: flex-end;
			}
			&_vertical {
				display: flex;
				flex-direction: column;
				align-items: stretch;
			}
		}

		&_indent {
			&-a {
				&_xxs {
					margin: $space-xxs;
				}

				&_xs {
					margin: $space-xs;
				}

				&_s {
					margin: $space-s;
				}

				&_m {
					margin: $space-m;
				}

				&_l {
					margin: $space-l;
				}

				&_xl {
					margin: $space-xl;
				}

				&_xxl {
					margin: $space-xxl;
				}

				&_xxxl {
					margin: $space-xxxl;
				}
				&_xxxxl {
					margin: $space-xxxxl;
				}
				&_xxxxxl {
					margin: $space-xxxxxl;
				}
			}

			&-v {
				&_xxs {
					margin-top: $space-xxs;
					margin-bottom: $space-xxs;
				}

				&_xs {
					margin-top: $space-xs;
					margin-bottom: $space-xs;
				}

				&_s {
					margin-top: $space-s;
					margin-bottom: $space-s;
				}

				&_m {
					margin-top: $space-m;
					margin-bottom: $space-m;
				}

				&_l {
					margin-top: $space-l;
					margin-bottom: $space-l;
				}

				&_xl {
					margin-top: $space-xl;
					margin-bottom: $space-xl;
				}

				&_xxl {
					margin-top: $space-xxl;
					margin-bottom: $space-xxl;
				}

				&_xxxl {
					margin-top: $space-xxxl;
					margin-bottom: $space-xxxl;
				}
				&_xxxxl {
					margin-top: $space-xxxxl;
					margin-bottom: $space-xxxxl;
				}
				&_xxxxxl {
					margin-top: $space-xxxxxl;
					margin-bottom: $space-xxxxxl;
				}
			}

			&-h {
				&_xxs {
					margin-left: $space-xxs;
					margin-right: $space-xxs;
				}

				&_xs {
					margin-left: $space-xs;
					margin-right: $space-xs;
				}

				&_s {
					margin-left: $space-s;
					margin-right: $space-s;
				}

				&_m {
					margin-left: $space-m;
					margin-right: $space-m;
				}

				&_l {
					margin-left: $space-l;
					margin-right: $space-l;
				}

				&_xl {
					margin-left: $space-xl;
					margin-right: $space-xl;
				}

				&_xxl {
					margin-left: $space-xxl;
					margin-right: $space-xxl;
				}

				&_xxxl {
					margin-left: $space-xxxl;
					margin-right: $space-xxxl;
				}
				&_xxxl {
					margin-left: $space-xxxxl;
					margin-right: $space-xxxxl;
				}
				&_xxxl {
					margin-left: $space-xxxxl;
					margin-right: $space-xxxxl;
				}
			}

			&-t {
				&_xxs {
					margin-top: $space-xxs;
				}

				&_xs {
					margin-top: $space-xs;
				}

				&_s {
					margin-top: $space-s;
				}

				&_m {
					margin-top: $space-m;
				}

				&_l {
					margin-top: $space-l;
				}

				&_xl {
					margin-top: $space-xl;
				}

				&_xxl {
					margin-top: $space-xxl;
				}

				&_xxxl {
					margin-top: $space-xxxl;
				}
				&_xxxxl {
					margin-top: $space-xxxxl;
				}
				&_xxxxxl {
					margin-top: $space-xxxxxl;
				}
			}

			&-r {
				&_xxs {
					margin-right: $space-xxs;
				}

				&_xs {
					margin-right: $space-xs;
				}

				&_s {
					margin-right: $space-s;
				}

				&_m {
					margin-right: $space-m;
				}

				&_l {
					margin-right: $space-l;
				}

				&_xl {
					margin-right: $space-xl;
				}

				&_xxl {
					margin-right: $space-xxl;
				}

				&_xxxl {
					margin-right: $space-xxxl;
				}
				&_xxxxl {
					margin-right: $space-xxxxl;
				}
				&_xxxxxl {
					margin-right: $space-xxxxxl;
				}
			}

			&-b {
				&_xxs {
					margin-bottom: $space-xxs;
				}

				&_xs {
					margin-bottom: $space-xs;
				}

				&_s {
					margin-bottom: $space-s;
				}

				&_m {
					margin-bottom: $space-m;
				}

				&_l {
					margin-bottom: $space-l;
				}

				&_xl {
					margin-bottom: $space-xl;
				}

				&_xxl {
					margin-bottom: $space-xxl;
				}

				&_xxxl {
					margin-bottom: $space-xxxl;
				}
				&_xxxxl {
					margin-bottom: $space-xxxxl;
				}
				&_xxxxxl {
					margin-bottom: $space-xxxxxl;
				}
			}

			&-l {
				&_xxs {
					margin-left: $space-xxs;
				}

				&_xs {
					margin-left: $space-xs;
				}

				&_s {
					margin-left: $space-s;
				}

				&_m {
					margin-left: $space-m;
				}

				&_l {
					margin-left: $space-l;
				}

				&_xl {
					margin-left: $space-xl;
				}

				&_xxl {
					margin-left: $space-xxl;
				}

				&_xxxl {
					margin-left: $space-xxxl;
				}
				&_xxxxl {
					margin-left: $space-xxxxl;
				}
				&_xxxxxl {
					margin-left: $space-xxxxxl;
				}
			}
		}

		&_space {
			&-a {
				&_xxs {
					padding: $space-xxs;
				}

				&_xs {
					padding: $space-xs;
				}

				&_s {
					padding: $space-s;
				}

				&_m {
					padding: $space-m;
				}

				&_l {
					padding: $space-l;
				}

				&_xl {
					padding: $space-xl;
				}

				&_xxl {
					padding: $space-xxl;
				}

				&_xxxl {
					padding: $space-xxxl;
				}
				&_xxxxl {
					padding: $space-xxxxl;
				}
				&_xxxxxl {
					padding: $space-xxxxxl;
				}
			}

			&-v {
				&_xxs {
					padding-top: $space-xxs;
					padding-bottom: $space-xxs;
				}

				&_xs {
					padding-top: $space-xs;
					padding-bottom: $space-xs;
				}

				&_s {
					padding-top: $space-s;
					padding-bottom: $space-s;
				}

				&_m {
					padding-top: $space-m;
					padding-bottom: $space-m;
				}

				&_l {
					padding-top: $space-l;
					padding-bottom: $space-l;
				}

				&_xl {
					padding-top: $space-xl;
					padding-bottom: $space-xl;
				}

				&_xxl {
					padding-top: $space-xxl;
					padding-bottom: $space-xxl;
				}

				&_xxxl {
					padding-top: $space-xxxl;
					padding-bottom: $space-xxxl;
				}
				&_xxxxl {
					padding-top: $space-xxxxl;
					padding-bottom: $space-xxxxl;
				}
				&_xxxxxl {
					padding-top: $space-xxxxxl;
					padding-bottom: $space-xxxxxl;
				}
			}

			&-h {
				&_xxs {
					padding-left: $space-xxs;
					padding-right: $space-xxs;
				}

				&_xs {
					padding-left: $space-xs;
					padding-right: $space-xs;
				}

				&_s {
					padding-left: $space-s;
					padding-right: $space-s;
				}

				&_m {
					padding-left: $space-m;
					padding-right: $space-m;
				}

				&_l {
					padding-left: $space-l;
					padding-right: $space-l;
				}

				&_xl {
					padding-left: $space-xl;
					padding-right: $space-xl;
				}

				&_xxl {
					padding-left: $space-xxl;
					padding-right: $space-xxl;
				}

				&_xxxl {
					padding-left: $space-xxxl;
					padding-right: $space-xxxl;
				}
				&_xxxxl {
					padding-left: $space-xxxxl;
					padding-right: $space-xxxxl;
				}
				&_xxxxxl {
					padding-left: $space-xxxxxl;
					padding-right: $space-xxxxxl;
				}
			}

			&-t {
				&_xxs {
					padding-top: $space-xxs;
				}

				&_xs {
					padding-top: $space-xs;
				}

				&_s {
					padding-top: $space-s;
				}

				&_m {
					padding-top: $space-m;
				}

				&_l {
					padding-top: $space-l;
				}

				&_xl {
					padding-top: $space-xl;
				}

				&_xxl {
					padding-top: $space-xxl;
				}

				&_xxxl {
					padding-top: $space-xxxl;
				}
				&_xxxxl {
					padding-top: $space-xxxxl;
				}
				&_xxxxxl {
					padding-top: $space-xxxxxl;
				}
			}

			&-r {
				&_xxs {
					padding-right: $space-xxs;
				}

				&_xs {
					padding-right: $space-xs;
				}

				&_s {
					padding-right: $space-s;
				}

				&_m {
					padding-right: $space-m;
				}

				&_l {
					padding-right: $space-l;
				}

				&_xl {
					padding-right: $space-xl;
				}

				&_xxl {
					padding-right: $space-xxl;
				}

				&_xxxl {
					padding-right: $space-xxxl;
				}
				&_xxxxl {
					padding-right: $space-xxxxl;
				}
				&_xxxxxl {
					padding-right: $space-xxxxxl;
				}
			}

			&-b {
				&_xxs {
					padding-bottom: $space-xxs;
				}

				&_xs {
					padding-bottom: $space-xs;
				}

				&_s {
					padding-bottom: $space-s;
				}

				&_m {
					padding-bottom: $space-m;
				}

				&_l {
					padding-bottom: $space-l;
				}

				&_xl {
					padding-bottom: $space-xl;
				}

				&_xxl {
					padding-bottom: $space-xxl;
				}

				&_xxxl {
					padding-bottom: $space-xxxl;
				}
				&_xxxxl {
					padding-bottom: $space-xxxxl;
				}
				&_xxxxxl {
					padding-bottom: $space-xxxxxl;
				}
			}

			&-l {
				&_xxs {
					padding-left: $space-xxs;
				}

				&_xs {
					padding-left: $space-xs;
				}

				&_s {
					padding-left: $space-s;
				}

				&_m {
					padding-left: $space-m;
				}

				&_l {
					padding-left: $space-l;
				}

				&_xl {
					padding-left: $space-xl;
				}

				&_xxl {
					padding-left: $space-xxl;
				}

				&_xxxl {
					padding-left: $space-xxxl;
				}
				&_xxxxl {
					padding-left: $space-xxxxl;
				}
				&_xxxxxl {
					padding-left: $space-xxxxxl;
				}
			}
		}
	}

	&__control {
		flex-grow: 1;


	}

	&__label {
		font-family: "Roboto Slab";
		width: 40%;
		flex-shrink: 0;
		&_width_auto {
			width: auto;
			padding-right: 2em;
		}
	}

	&__caption {

		& a {
			color: inherit;
			text-decoration: none;
		}
	}
}
